

body{
    background:url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    color:white;
    font-family:Tahoma,serif;
    font-size:20px;
  }
.transparent-background {
    background-color: rgba(82, 17, 187, 0.5);
    margin:-2em -2em;
    }
h1{
    text-align: center;
    color:white;
    padding-top:2em;
    
    

}
p{
  text-align: center;
  color:white;
  margin-top:-2em;
  }

form{
    width:50%;
    margin-left:auto;
    margin-right: auto;
    padding:2em 2em 2em 2em;
    margin-top:3em;
    background-color:rgba(5, 26, 95, 0.8);
   border-radius:6px;
  }
  input,select,textarea{
    width:100%;
    height:2rem;
  }

  input[type="checkbox"]{
    width:unset;
    vertical-align:middle;
    
   }
  

  fieldset{
    margin-bottom:1em;
    border:unset;
  }
  
  .spac{
    margin-bottom:2em;
    margin-top:5px;
  }

  input[type="radio"]{
    width:unset;
    margin-top:5px;
    vertical-align:middle;
  }
 

  select,textarea{
    margin-top:1em;
  }

  input[type="submit"]{
    margin-top:10px;
    height:2em;
    background-color:rgb(83, 192, 50);
    font-size:1em;
    color:white;
  }

 

  